.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button-small {
  padding: 0px;
}

.button-extra-small {
  padding: 3px;
  border: 1px solid grey;
  width: 50px;
  height: 100%;
  text-align: center;
  padding-bottom: 10px;
}

.button-tiny {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $t-size;
  text-decoration: none;
}

.button-big {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $l-size;
  font-weight: 300;
  line-height: 1;
  padding: $t-size;
  text-decoration: none;
}

.tightButton {
  background: $off-white;
  border: none;
}

.button--tight {
  background: $off-white;
  border: none;
}
.button--bold {
  font-weight: 700;
}
.button--trans {
  background: transparent;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}

.button-round {
  width: 30px;
  height: 30px;
  padding-left: 12px;
  padding-top: 5px;
  background: $blue;
  border: none;
  border-radius: 15px;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  text-decoration: none;
}
.button-tiny-circle {
  width: 20px;
  height: 20px;
  padding-left: 5px;
  padding-top: 0px;
  background: $blue;
  border: none;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: 300;
  line-height: 1em;
  text-decoration: none;
}

.img--sort {
  width: $s-size;
  height: $s-size;
}