.form {
  display: flex;
  flex-direction: column;
  >* {
    margin-bottom: $m-size;
  }
}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
}

.rowForm {
  display: flex;
  flex-direction: row;
}

.colForm {
  display: flex;
  flex-direction: column;
  font-size: small;
}

.colForm-descr {
  @extend .colForm;
  width: 20%;
}

.colForm-other {
  @extend .colForm;
  width: 5%;
}
.colForm-med {
  @extend .colForm;
  width: 10%;
}
.colForm-tiny {
  @extend .colForm;
  width: 3%;
}

.turnListArea {
  height: 400px;
  width: 15em;
}