.form {
  display: flex;
  flex-direction: column;
  >* {
    margin-bottom: $m-size;
  }
}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
}

.rowForm {
  display: flex;
  flex-direction: row;
}

.rowForm-right {
  display: inline;
  margin: 0 0 0 auto;
}

.line-grey {
  background-color: #CCC;
}

.line-blue {
  background-color: #CCF;
}

.colForm {
  display: flex;
  flex-direction: column;
  font-size: small;
}

.rollListRow {
  @extend .colForm;
  height: 30px;
  padding-top: 5px;
}

.colForm-descr {
  @extend .rollListRow;
  width: 300px;
}
.colForm-time {
  @extend .rollListRow;
  width: 150px;
}
.colForm-name {
  @extend .rollListRow;
  width: 200px;
}

.colForm-turn {
  @extend .rollListRow;
  width: 120px;
}

.colForm-delete {
  @extend .rollListRow;
  width: 40px;

}

.colForm-dice {
  @extend .rollListRow;
  width: 40px;
}
.colForm-sides {
  @extend .rollListRow;
  width: 40px;
}
.colForm-mods {
  @extend .rollListRow;
  width: 40px;
}
.colForm-other {
  @extend .rollListRow;
  width: 40px;
}
.colForm-form-sides {
  @extend .rollListRow;
  width: 60px;
}
.colForm-result {
  @extend .rollListRow;
  width: 120px;
}
.colForm-epilogue {
  @extend .rollListRow;
  width: 400px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.colForm-epilogueForm {
  @extend .rollListRow;
  width: 400px;
  border: 1px solid grey;
  padding: 3px;
  //padding: 0px;
  //padding-bottom: 0px;
  //padding-top: 0px;
  //margin-bottom: 0px;
  //margin-top: 0px;
  //height: 20px;
}

.turnListArea {
  height: 400px;
  width: 15em;
}
