.header {
  background: $dark-blue;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 0;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}

.header__right {
  color: white;
  align-items: right;
  padding: 0;
}

.banner {
  background-color: #99F;
  width: 100%;
  text-align: center;
  font-size: $l-size;
  height: 40px;
}

.banner--lefthalf {
  width: 50%;
  float: left;
}

.banner--righthalf {
  width: 50%;
  float: right;
}

.table_title {
  background-color: red;
  align-items: right;
}