* {
  box-sizing: border-box;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.2;
  background-color: $off-white;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}


.is-active {
  font-weight: bold;
}

.horizontalDivider {
  width: 60%;
  background-color: #99C;
}

.mapScrollable {
  width: 1100px;
  height: 900px;
  overflow-x: scroll;
  overflow-y: scroll;
  resize: both;
  scroll-margin-inline-start: 200px;

}

.mapImage {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 200;
}
.mapImageDiv {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 200;
}

.unitDiv1 {
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  left: 155px;
  top: 155px;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 1001;
}

.unitDiv2 {
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  left: 165px;
  top: 165px;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 1002;
}

.unitDiv3 {
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 1003;
}

.unit0001 {
  height: 850px;
  width: 1100px;
  object-position: -25px -90px;

}

.unit0002 {
  height: 850px;
  width: 1100px;
  object-position: -25px -150px;

}

.unit0003 {
  height: 850px;
  width: 1100px;
  object-position: -25px -200px;
}

.unitDiv {
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  left: 1754px;
  top: 1640px;
  border: 1px solid black;
  border-radius: 5px;
}